nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
  }

  button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
  }
  
  .brandlogo {
    width: 110px;
    padding-top: 1.5rem;
  }